# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.local
.env.*.local

# Build
dist/
coverage/
.tmp/

# Logs
logs
*.log
*.pid
*.seed
*.pid.lock

# IDE
.vscode/
.idea/
.DS_Store
